* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  height: 100vh;
  background: #0b0b0b;
  color: #e6e6e6;
}

/* Terminal */
.terminal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 14px 18px;
  background: rgba(255,255,255,0.03); 
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.06);
}

.prompt {
  margin-right: 10px;
  color: #6aff6a;
}

#search {
  background: transparent;
  border: none;
  outline: none;
  color: #f2f2f2;
  font-size: 20px;
  width: 420px;
}

/* Clima */
#weather {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #8a8a8a;
}

/* input wrap */
.input-wrap {
  position: relative;
}


.suggestions {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #0e0e0e;
  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 8px;
  overflow: hidden;
  display: none;
}

.suggestions div {
  padding: 10px 14px;
  font-size: 14px;
  color: #cfcfcf;
  cursor: pointer;
}

.suggestions div:hover,
.suggestions .active {
  background: rgba(106,255,106,0.12);
  color: #6aff6a;
}
